@model List<MarketWebApp.ViewModel.UserOrdersViewModel>
<div class="container">
    <h2 class="text-center mb-4">Users Orders</h2>

    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th class="text-center">User Name</th>
                <th class="text-center">Order ID</th>
                <th class="text-center">Order Date</th>
                <th class="text-center">Order State</th>
                <!-- Add other table headers for additional order details -->
            </tr>
        </thead>
        <tbody>
            @foreach (var userOrdersViewModel in Model)
            {
                <tr>
                    <td rowspan="@userOrdersViewModel.Orders.Count()" class="fw-bold text-center">@userOrdersViewModel.User.UserName</td>
                    <!-- Display the first order details -->
                    <td class="text-center">@userOrdersViewModel.Orders[0].ID</td>
                    <td class="text-center">@userOrdersViewModel.Orders[0].Date</td>
                    <td class="text-center">@userOrdersViewModel.Orders[0].State</td>
                </tr>

                <!-- Display the rest of the order details -->
                @for (int i = 1; i < userOrdersViewModel.Orders.Count(); i++)
                {
                    <tr>
                        <td class="text-center">@userOrdersViewModel.Orders[i].ID</td>
                        <td class="text-center">@userOrdersViewModel.Orders[i].Date</td>
                        <td class="text-center">@userOrdersViewModel.Orders[i].State</td>
                    </tr>
                }
            }
        </tbody>



    </table>
</div>