@model IEnumerable<MarketWebApp.Models.Entity.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="container ">
    <div class="row">
        <div class="col ">
            <h1>All Category </h1>
        </div>
        <div class="col-2">
            <a asp-action="Create" class="btn btn-outline-primary" role="button"> <i class="bi bi-plus-square"></i>  Create New Category</a><br />
        </div>
    </div>
</div>

<div class="container">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Img)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Img)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
